:root {
  --border-radius: calc(var(--border-width) * 4);
}
body {
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 90%);
}
input,
textarea {
  background-color: hsl(0, 0%, 30%);
  border: var(--border-width) solid hsl(0, 0%, 40%);
  border-radius: var(--border-radius);
  color: hsl(0, 0%, 100%);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
}
input:focus,
textarea:focus {
  outline: 0;
}
table {
  border-collapse: collapse;
}
table table td {
  background-color: hsl(0, 0%, 15%);
}
textarea {
  resize: none;
}
/**/
.addProductButton:hover,
.deleteProductButton:hover {
  text-decoration: underline;
}
.order__price {
  background-color: hsl(0, 0%, 20%);
  border: var(--border-width) solid hsl(0, 0%, 40%);
  border-radius: var(--border-radius);
}
.product {
  background-color: hsl(0, 0%, 20%);
  border: var(--border-width) solid hsl(0, 0%, 40%);
  border-radius: var(--border-radius);
}
.product__name {
  border: var(--border-width) solid transparent;
  border-radius: var(--border-radius);
}
.product__name:hover {
  text-decoration: underline;
}
.product__name_active {
  background-color: hsl(0, 0%, 30%);
  border-color: hsl(0, 0%, 40%);
  color: hsl(0, 0%, 100%);
}
/**/
.line-after {
  align-items: center;
  display: flex;
}
.line-after::after {
  border-top: var(--border-width) solid hsl(0, 0%, 30%); /* 1px */
  content: "";
  flex: 1;
  margin-left: 1rem; /* 8px */
}
/**/
.opacity-50 {
  opacity: 0.5;
}
